* {
  box-sizing: border-box;
}

html {
    body {
      background-color: #f5f8fc;
      padding: 0;
      margin: 0;
      font-family: AvenirNext;
      .container-fluid{
        padding: 0;
        .col-lg-12 {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }
  
    a {
      color: inherit;
      text-decoration: none;
      &:hover{
        color: #0BA759;
      }
    }
  }

